body {
    font-family: fantasy;
}
.centered{
  text-align: center;
}
.gift {
  color: blue;
  font-style: italic;
}
.button {
  font-size: 30px;
  text-align: center;
}
.imagery {
  background-image: linear-gradient(180deg, rgba(255,255,255,0) 60%, #fff),linear-gradient(70deg, #ffd65a 32%, #ebfff0);
}
.scores{
  display: none;
}
#quizy{
  display:show;
}
